---
export interface Props {
  class?: string;
}

const { class: clas } = Astro.props;
---

<h1
  class={`scroll-m-20 font-bold text-3xl tracking-normal md:text-8xl ${clas ?? ''}`}
>
  <slot />
</h1>
