---
import Heading from '../app/heading.astro';
import Subtitle from '../components/typography/subtitle.astro';
import Title from '../components/typography/title.astro';
import Layout from '../layout/layout.astro';
import FormContact from '@/components/sections/form-contact.astro';
---

<Layout link="contato">
  <section
    class="relative mx-auto mt-10 max-w-[1700px] space-y-12 px-4 py-10 text-zinc-700 md:px-8 md:py-20 lg:mt-20 lg:space-y-20"
  >
    <div class="absolute top-10 right-0 z-0 hidden h-full w-full md:block">
      <img src="/square.svg" alt="" class="h-full w-full object-cover" />
    </div>
    <div class="relative z-10">
      <Heading>
        <Title>Contato</Title>
        <Subtitle
          >Use o formulário ou envie-nos um email, responderemos assim que possível</Subtitle
        >
      </Heading>
    </div>
    <div class="relative z-10">
      <FormContact />
    </div>
  </section>
</Layout>
