---
import { Image } from 'astro:assets';
import Layout from '../layout/layout.astro';
import Title from '../components/typography/title.astro';
import Subtitle from '../components/typography/subtitle.astro';
import Heading from '../app/heading.astro';
import image1 from '../assets/building.jpg';
import Paragraph from '../components/typography/paragraph.astro';
---

<Layout>
  <section class="content-grid mt-20 md:mt-40 space-y-20 text-zinc-700">
    <div
      class="flex flex-col-reverse items-start justify-between gap-5 md:flex-row md:items-center"
    >
      <Heading>
        <Title>Sobre nós</Title>
        <Subtitle class="w-3/4 lg:w-full">
          Inspirados e motivados a criar as melhores soluções para os seus sonhos
        </Subtitle>
      </Heading>
      <div class="flex items-center gap-4">
        <div class="h-[3rem] w-[3rem] bg-red-500"></div>
        <div class="h-[3rem] w-[3rem] bg-orange-700"></div>
      </div>
    </div>

    <div class="grid grid-cols-1 items-center gap-20 md:grid-cols-2 lg:grid-cols-3">
      {
        [0, 1, 2].map(() => (
          <div>
            <Paragraph>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum,
              cupiditate soluta at ut ea recusandae officiis nisi magni enim facilis
              optio possimus alias tempora iure nemo. Blanditiis adipisci id unde!
              Nisi, ad aut eligendi placeat unde assumenda quia voluptate. Labore
              error cumque harum nemo rem iste quos temporibus, id eius ullam
              repellat possimus recusandae saepe dolore temporibus quaerat. Nulla.
              Quibusdam facere labore fugiat. Hic nihil ut consectetur illum
              similique corporis debitis accusamus! Tempore iusto, eveniet quo est,
              odit facere nesciunt et ipsum, rem vel neque deleniti placeat!
              Laudantium, voluptatum!
            </Paragraph>
          </div>
        ))
      }
    </div>

    <div class="full-width bg-zinc-300">
      <div
        class="mx-auto flex w-full flex-col items-center gap-5 py-10 lg:flex-row lg:gap-20"
      >
        <Image
          src={image1}
          width={800}
          height={800}
          quality={80}
          alt="image"
          class="h-auto w-full"
        />
        <Paragraph class="w-full lg:w-3/4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis iste modi ab!
          Et doloribus vitae atque error recusandae eligendi pariatur eos. Sapiente
          molestias ut cum magnam temporibus, enim harum sint? Quis minus cupiditate
          commodi illo, alias error aliquid. A reiciendis adipisci, nisi veniam,
          commodi libero repellendus sequi necessitatibus illum expedita facere
          exercitationem quis eveniet? Mollitia perspiciatis autem eos ratione ipsa.
        </Paragraph>
      </div>
    </div>

    <div class="space-y-20 bg-orange-700 p-6 md:p-14 text-white">
      <div class="max-w-5xl space-y-4 text-justify">
        <Heading>
          <Title>Desenho</Title>
          <Subtitle>Planejar e detalhar ao máximo antes de construir</Subtitle>
        </Heading>
        <Paragraph>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nesciunt
          ut sunt ullam neque, sequi hic, facilis aperiam porro vel saepe
          reprehenderit tempore optio velit perferendis delectus, quo totam
          voluptatibus! Autem dolorum vero quidem, accusantium voluptatibus harum
          aspernatur incidunt recusandae tenetur! Ipsum necessitatibus ullam
          voluptatem similique eos eligendi officia? Reiciendis a ut tenetur sit.
          Nostrum expedita rerum aliquam blanditiis doloremque! Recusandae dolor
          voluptatibus iste esse hic tempora architecto provident ratione minima vero
          obcaecati dolorem necessitatibus natus consequatur quia, facilis doloribus
          vel inventore aliquam repellendus. Cum minima nostrum ipsa soluta pariatur.
        </Paragraph>
      </div>

      <div class="ml-auto max-w-5xl space-y-4 text-end">
        <Heading>
          <Title>Renderização</Title>
          <Subtitle>Possibilidades, creatividade e poder de escolha</Subtitle>
        </Heading>
        <Paragraph>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nesciunt
          ut sunt ullam neque, sequi hic, facilis aperiam porro vel saepe
          reprehenderit tempore optio velit perferendis delectus, quo totam
          voluptatibus! Autem dolorum vero quidem, accusantium voluptatibus harum
          aspernatur incidunt recusandae tenetur! Ipsum necessitatibus ullam
          voluptatem similique eos eligendi officia? Reiciendis a ut tenetur sit.
          Nostrum expedita rerum aliquam blanditiis doloremque! Recusandae dolor
          voluptatibus iste esse hic tempora architecto provident ratione minima vero
          obcaecati dolorem necessitatibus natus consequatur quia, facilis doloribus
          vel inventore aliquam repellendus. Cum minima nostrum ipsa soluta pariatur.
        </Paragraph>
      </div>
    </div>

    <div class="full-width bg-zinc-300">
      <div
        class="mx-auto flex w-full flex-col items-center gap-5 py-10 lg:flex-row lg:gap-20"
      >
        <Image
          src={image1}
          width={800}
          height={800}
          quality={80}
          alt="image"
          class="h-auto w-full"
        />
        <Paragraph class="w-full lg:w-3/4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis iste modi ab!
          Et doloribus vitae atque error recusandae eligendi pariatur eos. Sapiente
          molestias ut cum magnam temporibus, enim harum sint? Quis minus cupiditate
          commodi illo, alias error aliquid. A reiciendis adipisci, nisi veniam,
          commodi libero repellendus sequi necessitatibus illum expedita facere
          exercitationem quis eveniet? Mollitia perspiciatis autem eos ratione ipsa.
        </Paragraph>
      </div>
    </div>
  </section>
</Layout>
