---
import Paragraph from '../components/typography/paragraph.astro';

const linkStyle = `text-zinc-500 transition-opacity underline hover:cursor-pointer hover:opacity-50`;
const currentYear = new Date().getFullYear();
---

<footer
  class="mx-auto mt-12 max-w-[110rem] rounded-t-md bg-gray-100 text-zinc-300 md:mt-20 md:w-[90%] lg:mt-40 lg:p-6"
>
  <div class="mx-auto max-w-[1700px] px-6">
    <div class="flex flex-col py-8 md:py-10 lg:justify-between xl:flex-row">
      <div class="mb-8 w-full lg:mb-0 lg:max-w-2xl">
        <div class="mb-4 text-xl font-bold text-zinc-700">Nossa Arquitetura</div>
        <Paragraph class="text-zinc-500">
          Transformando espaços com design inovador e sustentável para criar
          ambientes que inspiram.
        </Paragraph>
      </div>

      <div class="flex flex-col gap-5 md:flex-row">
        <section>
          <h3 class="mb-3 text-lg font-bold text-zinc-700">Serviços</h3>
          <ul class="space-y-2">
            <li class="text-zinc-500">Residencial e interiores</li>
            <li class="text-zinc-500">Comercial e viabilidade</li>
            <li class="text-zinc-500">Reforma e fachadas</li>
            <li class="text-zinc-500">Paisagismo e luminotécnico</li>
          </ul>
        </section>
        <section class="col-span-2 mt-6 sm:col-span-1 sm:mt-0">
          <h3 class="mb-3 text-lg font-bold text-zinc-700">Contato</h3>
          <ul class="space-y-2">
            <li class="flex items-center justify-start gap-2 text-zinc-500">
              <img src="/email.svg" alt="" class="mt-1 h-4 w-4 object-cover" />
              contato@nossa.arq.br
            </li>
            <li class="flex items-center justify-start gap-2 text-zinc-500">
              <img src="/instagram.svg" alt="" class="mt-1 h-4 w-4 object-cover" />
              <a href="/instagram"> @nossa.arq </a>
            </li>
          </ul>
        </section>
      </div>
    </div>

    <div class="py-4 text-sm">
      <div
        class="flex flex-col items-start gap-10 space-y-3 text-zinc-500 sm:flex-row sm:justify-between sm:space-y-0 md:items-center"
      >
        <Paragraph>
          Nossa Arquitetura ©{currentYear}
          <br class="lg:hidden" /> Todos os direitos reservados.
        </Paragraph>
        <div class="flex space-x-4 sm:space-x-6">
          <a
            href="/politica-privacidade.pdf"
            class={linkStyle}
            target="_blank"
            rel="noopener noreferrer"
          >
            Política de Privacidade
          </a>
          <a
            href="/termos-de-uso.pdf"
            class={linkStyle}
            target="_blank"
            rel="noopener noreferrer"
          >
            Termos de Uso
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
