---
import Cursor from '../app/cursor.astro';
import Header from '../app/header.astro';
import Footer from '../app/footer.astro';

import '../styles/global.css';
import '../styles/animate.css';

const isHomePage = Astro.url.pathname === '/';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Nossa Arquitetura é um estúdio criativo dedicado a transformar espaços com soluções arquitetônicas inovadoras, funcionais e esteticamente marcantes."
    />
    <title>Nossa Arquitetura - Projetando O Melhor</title>
  </head>
  <body
    class={`overflow-x-hidden antialiased transition-all duration-500 ease-in-out`}
  >
    <Header />
    <Cursor />
    <main class="w-full">
      <slot />
    </main>
    {!isHomePage && <Footer />}
  </body>
</html>
